<html>
    <head>
        <title>Add Players</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.player_name.label }} {{ form.player_name }}
                {{ form.team_name.label}} {{ form.team_name}}
                
                <br>
                {{ form.submit() }}
                <button type="submit" class="btn btn-default"><a href="{{url_for('viewteams')}}" >View your teams</a></button>
                <br>
            {{ message }}
            </form>
        </div>
    </body>
</html>